<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Alt.Net Archaeologist</title>
</head>

<body>
  <div>
    Hello World!
  </div>

</body>
</html>