<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Alt.Net Archaeologist</title>
<link href="/jqcloud.css" rel="stylesheet" type="text/css" />
<script src="/scripts/jquery.js" type="text/javascript"></script>
<script src="/scripts/jqcloud.js" type="text/javascript"></script>
<script language="Javascript" type="text/javascript">
var word_list = [
  {text: "Lorem", weight: 150},
  {text: "Ipsum", weight: 90, url: "http://jquery.com/", title: "jQuery Rocks!"},
  {text: "Dolor", weight: 60},
  {text: "Sit", weight: 70},
  {text: "Amet", weight: 50}
  // ...other words
];


$(document).ready(function() {
  $("#example").jQCloud(word_list);
});

</script>
</head>

<body>
  <h1>Twitter Word Cloud</h1>

  <div id="example" style="width: 550px; height: 350px; position: relative;"></div>
</body>
</html>